.btn-primary{
	color: #fff;
	background-color: #37a000;
	padding: 11px 22px;
	border-color: transparent;
	height: auto;
}
.panel-default{
	border-width: 2px;
	border-radius: 0;
}
.btn-primary:hover{
	background-color: #008329;
	border-color: transparent;
}
.btn-group.choice > button{
	border-radius: 0;
	padding: 10px 25px;
	height: auto;
	border: 2px solid #e0e0e0;
}
.btn-group.choice > button:hover{
	border-color: #37a000;
	color: #37a000;
	background-color: #fff;
}
.btn-group.choice > button.active{
	border-color: #37a000;
	color: #fff;
	background-color: #37a000;
}
.btn-group.choice button span{
	text-transform: capitalize;
	font-weight: 500;
}
.loading-overlay{
	background-color: rgba(255,255,255,0.7);
}

.choice.has-error button{
	border: 2px solid #a94442;
}

/*** CHANGE COLOR ***/
.widget h3.widget-title::before,
.go-top:hover,
.go-top::before,
.go-top::after{
	background-color: #37a000;
}
.footer .flat-information li span,
#mainnav > ul > li > a:hover,
#mainnav > ul > li.active > a::after,
#mainnav > ul > li.home > a,
#mainnav > ul > li.active > a,
#mainnav > ul > li:hover > a::after,
.go-top::before,
.go-top::after{
	color: #37a000 !important;
}
#mainnav ul.submenu{
	border-top-color: #37a000;
}
.go-top{
	border-color: #37a000;
	color: #37a000;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
	border-bottom-color: #37a000;
}
.loader{
	border-left-color: #37a000;
}

/*#mainnav > ul > li > a::after{
	display: none
}*/